includes:
    - vendor/nunomaduro/larastan/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 9
    paths:
        - src

    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkMissingCallableSignature: true

    exceptions:
        check:
            tooWideThrowType: true
            missingCheckedExceptionInThrows: true

    ignoreErrors:
        - '#Variable property access on \$this\(Atwinta\\DTO\\DTO\).#'
        - message: '#Unsafe usage of new static\(\).#'
          path: src/DTO.php
